.logoIcon {
  width: 200px;
  height: 200px;
  fill: red;
}

.miningList {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  @media @mobile {
    flex-wrap: wrap;
  }

  li {
    width: 30rem;
    min-height: 28rem;
    margin: 0 5rem;
    border-radius: 1rem;
    padding: 4rem 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;

    @media @mobile {
      width: 63%;
      margin: 2rem 0;
    }

    .content {
      flex: 1;
    }

    .icon {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
    }

    .symbol {
      font-size: 3rem;
      margin: 1rem 0;
      color: #545454;
    }

    .rate {
      color: #c39628;
      font-size: 1.8rem;
    }

    .total {
      color: #8d8d8d;
      font-size: 1.4rem;
      margin-top: 1rem;

      p {
        margin: 0.3rem 0;
      }

      span {
        color: #c39628;
      }
    }

    .operate {
      width: 100%;
      margin-top: 2rem;

      .balance {
        font-size: 1.3rem;
        color: #767676;
        text-align: left;
      }

      .stake {
        display: flex;
      }

      .value {
        width: 70%;
        flex: 1;
        height: 4.5rem;
        box-sizing: border-box;
        border: 2px solid #c1c1c1;
        border-radius: 6px 0 0 6px;
        outline: none;
        padding-left: 1rem;
        font-size: 2rem;
        color: #545454;

        &:focus {
          border: 2px solid #f3ba2f;
        }
      }

      .staking {
        flex-shrink: 0;
        width: 10rem;
        height: 4.5rem;
        box-sizing: border-box;
        border: none;
        background: #f3ba2f;
        border-radius: 0 6px 6px 0;
        font-size: 2rem;
        line-height: 4.5rem;
        vertical-align: top;
        color: white;
        cursor: pointer;

        @media @mobile {
          font-size: 1.8rem;
        }
      }

      .withdraw {
        width: 100%;
        flex-shrink: 0;
        height: 4.5rem;
        box-sizing: border-box;
        border: none;
        background: #f3ba2f;
        border-radius: 6px;
        font-size: 2rem;
        line-height: 4.5rem;
        vertical-align: top;
        color: white;
        cursor: pointer;
        margin-top: 1rem;
      }

    }
  }
}