.logoIcon {
  width: 200px;
  height: 200px;
  fill: red;
}

.miningList {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  li {
    width: 30rem;
    min-height: 30rem;
    margin: 0 5rem;
    border-radius: 1rem;
    padding: 3rem;
    text-align: center;

    .icon {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
    }

    .symbol {
      font-size: 3rem;
      margin: 1rem 0;
      color: #545454;
    }

    .rate {
      color: #c39628;
      font-size: 1.4rem;
    }
  }
}